<!DOCTYPE html>
<html>
    <head >
        <title>CDPSfy</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <a id="logo" href="/"><img src="/images/logo.png">
              
            </a>
            <nav>
                <ul>
                    <li><a href="/tracks"><img src="/images/home.png"> My Tracks </a></li>
                    <li><a href="/tracks/new"><img src="/images/upload.png"> Upload Tracks </a></li>
                </ul>
            </nav>
        </header>
        <div id="container">
            <div id="container-body"><%- body %></div>
        </div>
    </body>
</html>